# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Sensitive info
bot.py  # If your token is inside bot.py, otherwise create a separate config file

# Mac/Linux

.DS_Store
.env
DISCORD_TOKEN = MTQ1NTExMjQwNDc2NDQ1OTE4Mg.GMt6ax.bn0wb7q0aSeNrtIO1RgGtQcllsDcirTtA0xwkY
CHANNEL_ID = 1455098000987652107
INSTAGRAM_USERNAME = bmw.reels.in
